body {
  background-color: bisque;
  margin-left: 10%;
  margin-right: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book-card {
  border: solid 2px black;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 5px;
  padding: 5px;
  background-color: lightblue;
}

.cover-container {
  display: flex;
  justify-content: flex-end;
}

.cover {
  height: 250px;
  width: 180px;
}
